---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="inline-title">
		<main class="inline-title">
			<Hero
					
				title =	 "Les Compétences et les apprentissages" 
				tagline='Decrouver le resumé des Compétences et apprentissages pour les 2 semestres'><br/>
				
			</Hero>	
	
	</div>

	<div class="section">
	<!DOCTYPE html>
	<html lang="fr">
		<head>
		<meta charset="utf-8" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<style>
			/* Ajouter une marge en bas de chaque section */
			.section {
				margin-bottom: 25px;
			}
			
        	/* Appliquer le style pour afficher en ligne */
        	h3.inline-title {
            display: inline;
        	}
   
		</style>
		<link rel="stylesheet" href="css.css" />
	</head>
	
	<body>
		
		<div class="section">
		<h5>Traiter des données à des fins décisionnelles</h5>
		<h5>Niveau 2: Automatiser le traitement de données multidimensionnelles</h5><br/>

		<div class="section">
			<h5 >Description des acquisitions des apprentissages critiques</h5>
			<p>
				AC1: Comprendre l'organisation des données de l'entreprise <br/>
	
				AC2: Réaliser le rôle central et spécifique de l'entrepôt de données dans la chaîne décisionnelle <br/>
	
				AC3: Identifier et résoudre les problèmes d'intégration de sources complémentaires et hétérogènes <br/>
	
				AC4: Comprendre la nécessité de tester, corriger et documenter un programme <br/>  
				AC5:  Apprécier l’intérêt de briques logicielles existantes et savoir les utiliser</p></div>
	
		<table border="1">
			<tr>
				<th>Apprentissages critiques de la compétence</th>
				<th>Auto-évaluation de la compétence</th>
				<th>SAE associée à l'apprentissage</th>
			</tr>
			<tr>
				<td>AC1</td>
				<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
				</td>
				<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE303</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>AC2</td>
				<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
				</td>
				<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE303</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>AC3</td>
				<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
				</td>
				<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE303</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>AC4</td>
				<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
				</td>
				<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE303</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>AC5</td>
				<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
				</td>
				<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE303</option>
					</select>
				</td>
			</tr>
		</table>
	</div>

	<div class="section">
		<mark> Dresser un bilan sur l'année en évoquant votre progression entre les 2 semestres</mark>
	
			<p> Pour cette compétence je pense avoir acquis les apprentissages suit de suite :<br />
				AC1: Comprendre l'organisation des données de l'entreprise <br/>	
				AC2: Réaliser le rôle central et spécifique de l'entrepôt de données dans la chaîne décisionnelle <br/>
	
	</p> 
</div>
	
	<div class="section">
			<mark>Vous sentez-vous prêt à accéder aux apprentissages critiques du niveau suivant? (justifier)</mark>
			<p> En ce qui concerne l’évolution par rapport à la compétence valoriser une production dans un contexte professionnel : </br>
				 Contextualiser et présenter les données, au 2 semestre j'ai pu approfondir  grâce aux SAE 303 et 301  c’était donc en cours d’apprentissage.</br> 
				 Pour le 2ème semestre je peux dire que je me suis améliorée en ce qui concerne les différents apprentissages critiques grâce à plus de pratique lors des SAE 303 et 301 et la ressource  itégration des données dans un datawerehouse.<br /></p> </div>
			
	
	
	
	<div class="section">
		<h5>Analyser une production dans un contexte professionnel</h5>
			<h5>Niveau 2: </h5><br/>
			<h5 >Description des acquisitions des apprentissages critiques</h5>
			

				<table>
					<tr>
						<th>Objectif d'Apprentissage (AC)</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>AC22.01</td>
						<td>Prendre conscience de la différence entre modélisation statistique et analyse exploratoire</td>
					</tr>
					<tr>
						<td>AC22.02</td>
						<td>Saisir la spécificité de l’analyse des données temporelles</td>
					</tr>
					<tr>
						<td>AC22.03</td>
						<td>Comprendre l’intérêt des analyses multivariées pour synthétiser et résumer l’information portée par plusieurs variables</td>
					</tr>
					<tr>
						<td>AC22.04</td>
						<td>Appréhender l’idée de confronter une hypothèse avec la réalité pour prendre une décision</td>
					</tr>
					<tr>
						<td>AC22.05</td>
						<td>Apprécier les limites de validité et les conditions d’application d’une analyse</td>
					</tr>
				</table>
			 </div>
			 
		  <div class="section"></div>
			<table border="1">
			<tr>
			<th>Apprentissages critiques de la compétence</th>
			<th>Auto-évaluation de la compétence</th>
			<th>SAE associée à l'apprentissage</th>
			</tr>
			<tr>
			<td>AC1</td>
			<td>
			<select>
				<option value="acquis">Acquis</option>
				<option value="en_cours">En cours d'acquisition</option>
				<option value="non_acquis">Non acquis</option>
			</select>
			</td>
			<td>
			<select>
				<option value="acquis">SAE301</option>
				<option value="en_cours">SAE302</option>
				<option value="acquis">SAE303</option>
				<option value="acquis">SAE304</option>
			</select>
			</td>
			</tr>

			<tr>
			<td>AC2</td>
			<td>
			<select>
				<option value="acquis">Acquis</option>
				<option value="en_cours">En cours d'acquisition</option>
				<option value="non_acquis">Non acquis</option>
			</select>
			</td>
			<td>
			<select>
				<option value="acquis">SAE301</option>
				<option value="en_cours">SAE302</option>
				<option value="acquis">SAE303</option>
				<option value="acquis">SAE304</option>
			</select>
			</td>
			</tr>
			<tr>
				<td>AC3</td>
				<td>
				<select>
					<option value="acquis">Acquis</option>
					<option value="en_cours">En cours d'acquisition</option>
					<option value="non_acquis">Non acquis</option>
				</select>
				</td>
				<td>
				<select>
					<option value="acquis">SAE301</option>
					<option value="en_cours">SAE302</option>
					<option value="acquis">SAE303</option>
					<option value="acquis">SAE304</option>
				</select>
				</td>
				</tr>
		
				<tr>
					<td>AC4</td>
					<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
					</td>
					<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE302</option>
						<option value="acquis">SAE303</option>
						<option value="acquis">SAE304</option>
					</select>
					</td>
					</tr>
					<tr>
						<td>AC5</td>
						<td>
						<select>
							<option value="acquis">Acquis</option>
							<option value="en_cours">En cours d'acquisition</option>
							<option value="non_acquis">Non acquis</option>
						</select>
						</td>
						<td>
						<select>
							<option value="acquis">SAE301</option>
							<option value="en_cours">SAE302</option>
							<option value="acquis">SAE303</option>
							<option value="acquis">SAE304</option>
						</select>
						</td>
						</tr></div>
		
		
		
		
		</div>

	
		<div class="section">

		<table border="1">
			<tr>
			<th>Apprentissages critiques de la compétence</th>
			<th>Auto-évaluation de la compétence</th>
			<th>SAE associée à l'apprentissage</th>
			</tr>
			<tr>
			<td>AC1</td>
			<td>
			<select>
				<option value="acquis">Acquis</option>
				<option value="en_cours">En cours d'acquisition</option>
				<option value="non_acquis">Non acquis</option>
			</select>
			</td>
			<td>
			<select>
				<option value="acquis">SAE301</option>
				<option value="en_cours">SAE302</option>
				<option value="acquis">SAE303</option>
				<option value="acquis">SAE304</option>
			</select>
			</td>
			</tr>

			<tr>
			<td>AC2</td>
			<td>
			<select>
				<option value="acquis">Acquis</option>
				<option value="en_cours">En cours d'acquisition</option>
				<option value="non_acquis">Non acquis</option>
			</select>
			</td>
			<td>
			<select>
				<option value="acquis">SAE301</option>
				<option value="en_cours">SAE302</option>
				<option value="acquis">SAE303</option>
				<option value="acquis">SAE304</option>
			</select>
			</td>
			</tr>
		
			<tr>
				<td>AC3</td>
				<td>
				<select>
					<option value="acquis">Acquis</option>
					<option value="en_cours">En cours d'acquisition</option>
					<option value="non_acquis">Non acquis</option>
				</select>
				</td>
				<td>
				<select>
					<option value="acquis">SAE301</option>
					<option value="en_cours">SAE302</option>
					<option value="acquis">SAE303</option>
					<option value="acquis">SAE304</option>
				</select>
				</td>
				</tr>
		
				<tr>
					<td>AC4</td>
					<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
					</td>
					<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE302</option>
						<option value="acquis">SAE303</option>
						<option value="acquis">SAE304</option>
					</select>
					</td>
					</tr>
					<tr>
						<td>AC5</td>
						<td>
						<select>
							<option value="acquis">Acquis</option>
							<option value="en_cours">En cours d'acquisition</option>
							<option value="non_acquis">Non acquis</option>
						</select>
						</td>
						<td>
						<select>
							<option value="acquis">SAE301</option>
							<option value="en_cours">SAE302</option>
							<option value="acquis">SAE303</option>
							<option value="acquis">SAE304</option>
						</select>
						</td>
						</tr></div>
		
				</div>


			

		<div class="section">
		<h5>Valoriser une production dans un contexte professionnel </h5>
		<h5>Niveau 2 : Restituer et argumenter ses résultats </h5><br/>
		 <h5 >Description des acquisitions des apprentissages critiques</h5>
			<p>AC23.01 - Saisir l’intérêt de mobiliser de manière proactive des ressources métiers liées à l'environnement (y compris économique, international…)
				AC23.02 - Savoir défendre ses choix d’analyses
			    AC23.03 - Saisir la nécessité de choisir des indicateurs pertinents pour communiquer sur les résultats <br/>
				AC23.04 - Prendre conscience de la rigueur requise dans ses productions et dans la communication à leur propos <br/>
				AC23.05 - Comprendre les enjeux des relations en milieu professionnel adaptées à l’interlocuteur et à sa culture
			</p> </div>
			

			<div class="section">
				
				<table > 
					<h5>Développer un outil décisionnel</h5>
					<h5>Niveau 1 Développer un composant d’une solution décisionnelle</h5><br/>
					<tr>
						<th>Objectif d'Apprentissage (AC)</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>AC24.01VCOD</td>
						<td>Comprendre le rôle fondamental de l’analyse des besoins et de l’existant dans un projet décisionnel (architecture, visualisation...)</td>
					</tr>
					<tr>
						<td>AC24.02VCOD</td>
						<td>Percevoir les enjeux de l’automatisation et de l'interopérabilité d’un ensemble de tâches</td>
					</tr>
					<tr>
						<td>AC24.03VCOD</td>
						<td>Prendre conscience des différences entre outils (logiciels, langages) pour choisir le plus adapté</td>
					</tr>
					<tr>
						<td>AC24.04VCOD</td>
						<td>Comprendre le cycle de vie d’un projet informatique</td>
					</tr>
				</table>
				
	
			</div>
			
		 <table border="1">
			<tr>
			<th>Apprentissages critiques de la compétence</th>
			<th>Auto-évaluation de la compétence</th>
			<th>SAE associée à l'apprentissage</th>
			</tr>
			<tr>
			<td>AC1</td>
			<td>
			<select>
				<option value="acquis">Acquis</option>
				<option value="en_cours">En cours d'acquisition</option>
				<option value="non_acquis">Non acquis</option>
			</select>
			</td>
			<td>
			<select>
				<option value="acquis">SAE301</option>
				<option value="en_cours">SAE302</option>
				<option value="acquis">SAE303</option>
				<option value="acquis">SAE304</option>
			</select>
			</td>
			</tr>

			<tr>
			<td>AC2</td>
			<td>
			<select>
				<option value="acquis">Acquis</option>
				<option value="en_cours">En cours d'acquisition</option>
				<option value="non_acquis">Non acquis</option>
			</select>
			</td>
			<td>
			<select>
				<option value="acquis">SAE301</option>
				<option value="en_cours">SAE302</option>
				<option value="acquis">SAE303</option>
				<option value="acquis">SAE304</option>
			</select>
			</td>
			</tr>
		
			<tr>
				<td>AC3</td>
				<td>
				<select>
					<option value="acquis">Acquis</option>
					<option value="en_cours">En cours d'acquisition</option>
					<option value="non_acquis">Non acquis</option>
				</select>
				</td>
				<td>
				<select>
					<option value="acquis">SAE301</option>
					<option value="en_cours">SAE302</option>
					<option value="acquis">SAE303</option>
					<option value="acquis">SAE304</option>
				</select>
				</td>
				</tr>
		
				<tr>
					<td>AC4</td>
					<td>
					<select>
						<option value="acquis">Acquis</option>
						<option value="en_cours">En cours d'acquisition</option>
						<option value="non_acquis">Non acquis</option>
					</select>
					</td>
					<td>
					<select>
						<option value="acquis">SAE301</option>
						<option value="en_cours">SAE302</option>
						<option value="acquis">SAE303</option>
						<option value="acquis">SAE304</option>
					</select>
					</td>
					</tr>
					<tr>
						<td>AC5</td>
						<td>
						<select>
							<option value="acquis">Acquis</option>
							<option value="en_cours">En cours d'acquisition</option>
							<option value="non_acquis">Non acquis</option>
						</select>
						</td>
						<td>
						<select>
							<option value="acquis">SAE301</option>
							<option value="en_cours">SAE302</option>
							<option value="acquis">SAE303</option>
							<option value="acquis">SAE304</option>
						</select>
						</td>
						</tr> </div>

			
		</div>


</BaseLayout>







<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
